<?xml version="1.0" encoding="utf-8"?>
<RouteConfiguration>
  <ignore>
    <!--忽略对.axd文件的Route，直接处理-->
    <add url="{resource}.axd/{*pathInfo}" >
      <!--<constraints>
        --><!--添加约束,value是乱写的,只为演示--><!--
        <add name="resource" value="\w" />
      </constraints>-->
    </add>
  </ignore>
  <map>
    <route name="Post" url="Post/{id}" controller="Home" action="Post" >
      <parameters>
        <!--添加参数默认值-->
        <!--添加约束,id必须为GUID-->
        <add name="id" value="" constraint="[\da-f]{8}-[\da-f]{4}-[\da-f]{4}-[\da-f]{4}-[\da-f]{12}" />
      </parameters>
    </route>


   

    <route name="Default" url="{controller}/{action}/{id}" controller="Home" action="login" >
      <parameters>
        <add name="id" value="" />
      </parameters>
    </route>
    
  </map>
</RouteConfiguration>
